.DS_Store
node_modules
/dist
tests/e2e/snapshots/*/__diff_output__
tests/e2e/screenshots
tests/e2e/videos
public/img/cards/*
cards.json
!**/.gitkeep

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
