/* DesktopCard widget */
.desktop-card {
  background-color: rgba(53, 149, 185, 0.5);
  padding: 4px 16px !important;
}
.divider-on-right {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.card-subtitle {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 4px 16px !important;
  justify-content: center;
}

/* Mobile panel widget */
.mobile-panel {
  padding: 4px 16px;
  min-height: 40px !important;
}
.square-border {
  border-radius: 0 !important;
}
.thin-panel {
  height: 24px; 
  padding: 4px 24px !important;
}

.v-expansion-panel-content__wrap {
  padding-bottom: 0 !important;
}

/* NetrunnerCard widget */
.card-title {
  font-size: .75rem;
  line-height: 1rem;
  height: 2rem;
}

/* card badge border fix */
.v-badge--bordered .v-badge__badge:after {
  transform: scale(1) !important;
}

/* hide data table group buttons */
tr.v-row-group__header > td > button {
  display: none !important;
}
/* data table mobile view */
.v-data-table .v-data-table__mobile-row {
  min-height: unset;
}
.v-data-table__mobile-table-row :nth-child(1) :nth-child(2) {
  font-weight: 600;
}
.v-data-table__mobile-row__header {
  font-weight: unset;
}

/* minus bottom margin */
.mb--4 {
  margin-bottom: -4px;
}
/*tooltip icon adjust */
.icon-left {
  justify-content: start !important;
  flex-grow: 0 !important;
}

.thin-hr {
  border-bottom: thin solid rgba(0, 0, 0, 0.12);
  border-top: 0;
}

/* card search */
.v-autocomplete__content {
  margin-top: 2px;
}

/* app bar */
@media (min-width: 600px) {
  .app-logo {
    margin-right: 16px !important;
  }
  .meta-button {
    padding-right: 8px !important;
  }
}
@media (max-width: 599px) {
  .app-logo {
    margin-right: 8px !important;
  }
  .meta-button {
    padding-right: 0px !important;
    padding-left: 8px !important;
  }
  .menu-button {
    padding: 0 8px !important;
    min-width: 48px !important;
  }
  .search-button {
    width: 40px;
  }
}
/* for small mobile screens */
.d-xxs-none {
  display: none;
}
@media (min-width: 360px) {
  .d-xs-inline {
    display: inline !important;
  }
  .d-xxs-only-inline {
    display: none !important;
  }
}
@media (max-width: 359px) {
  .d-xxs-only-inline {
    display: inline !important;
  }
}
/* linebreak for buttons */
.with-linebreaks {
  overflow: hidden;
  white-space: normal;
}

.text-decoration-none {
  text-decoration: none !important;
}

/* fixes for too much spacing for inputs */
.title-input .v-messages {
  display: none !important;
}
.title-input .v-text-field__details {
  display: none !important;
}
.title-input .v-input__slot {
  margin: 0 !important;
}