/* DesktopCard widget */
.desktop-card {
  background-color: rgba(53, 149, 185, 0.5);
  padding: 4px 16px !important;
}
.divider-on-right {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.card-subtitle {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 4px 16px !important;
  justify-content: center;
}

/* Mobile panel widget */
.mobile-panel {
  padding: 4px 16px;
  min-height: 40px !important;
}
.square-border {
  border-radius: 0 !important;
}
.thin-panel {
  height: 24px; 
  padding: 4px 24px !important;
}

.v-expansion-panel-content__wrap {
  padding-bottom: 0 !important;
}

/* NetrunnerCard widget */
.card-title {
  font-size: .75rem;
  line-height: 1rem;
  height: 2rem;
}

/* card badge border fix */
.v-badge--bordered .v-badge__badge:after {
  transform: scale(1) !important;
}

/* hide data table group buttons */
tr.v-row-group__header > td > button {
  display: none !important;
}
/* data table mobile view */
.v-data-table .v-data-table__mobile-row {
  min-height: unset;
}
.v-data-table__mobile-table-row :nth-child(1) :nth-child(2) {
  font-weight: 600;
}
.v-data-table__mobile-row__header {
  font-weight: unset;
}

/* minus bottom margin */
.mb--4 {
  margin-bottom: -4px;
}
/*tooltip icon adjust */
.icon-left {
  justify-content: start !important;
  flex-grow: 0 !important;
}

.thin-hr {
  border-bottom: thin solid rgba(0, 0, 0, 0.12);
  border-top: 0;
}

/* card search */
.v-autocomplete__content {
  margin-top: 2px;
}

/* app bar */
@media (min-width: 600px) {
  .app-logo {
    margin-right: 16px !important;
  }
  .meta-button {
    padding-right: 8px !important;
  }
}
@media (max-width: 599px) {
  .app-logo {
    margin-right: 8px !important;
  }
  .meta-button {
    padding-right: 0px !important;
    padding-left: 8px !important;
  }
  .menu-button {
    padding: 0 4px !important;
    min-width: 48px !important;
  }
  .search-button {
    width: 40px !important;
  }
}
/* for small mobile screens */
.mobile-nav-text {
  font-size: 6px;
}
@media (max-width: 599px) {
  .v-toolbar__content {
    padding: 4px 10px !important;
  }
}

.d-xxs-none {
  display: none;
}
@media (min-width: 415px) {
  .d-xs-inline {
    display: inline !important;
  }
  .d-xxs-inline {
    display: none !important;
  }
}
@media (max-width: 414px) {
  .d-xxs-inline {
    display: inline !important;
  }
}
/* linebreak for buttons */
.with-linebreaks {
  overflow: hidden;
  white-space: normal;
}

.text-decoration-none {
  text-decoration: none !important;
}

/* fixes for too much spacing for inputs */
.title-input .v-messages {
  display: none !important;
}
.title-input .v-text-field__details {
  display: none !important;
}
.title-input .v-input__slot {
  margin: 0 !important;
}
/* drilldown buttons */
.drilldown-subtitle-left {
  margin-top: -12px;
  margin-left: -24px;
  margin-right: -12px;
  margin-bottom: 8px;
}
.drilldown-subtitle-right {
  margin-top: -12px;
  margin-left: -12px;
  margin-right: -24px;
  margin-bottom: 8px;
}
.v-btn__content {
  max-width: 100%;
  overflow: hidden;
  white-space: normal;
}
.drilldown-button {
  width: 100%;
  text-decoration: none;
  padding-left: 8px !important;
  padding-right: 8px !important;
  height: unset !important;
  min-height: 36px;
}

/* loader animation */
.loader {
  height: 80px;
  position: relative;
}

.loader span {
  height: 35px;
  width: 25px;
  border: 2px solid rgba(0,0,0,0.12);
  background-color: white;
  border-radius: 5px;
  animation: spin 1s cubic-bezier(0.5, 0, 0.7, 1.1) infinite;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: left bottom;
}

.loader span:nth-child(2) {
  animation-delay: -0.1s;
}

.loader span:nth-child(3) {
  animation-delay: -0.2s;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}

/* router transition */
.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

/* flags */
.flag-error {
  background-color: #ff5252;
}
.flag-restricted{
  background-color: #fb8c00;
}
.flag-data{
  background-color: #B56503;
}
.flag-warning {
  background-color: #b54103;
}
.data-label {
  border-radius: 5px;
  padding: 1px 5px;
  color: white;
  margin: 1px;
  display: inline-block;
  font-size: 12px;
  font-style: italic;
}
.title-warning {
  flex: 0 1 auto !important;
  margin-left: 10px !important;
}